
<!-- Gallery Layout Start -->

<!DOCTYPE html>
<html lang="{{ site.lang }}">

  {% include head.html %}
  
  <body>

    {% include navigation.html %}

<section id="gallery" class="container">

              
              <p><br><br><br></p>
              
                <h1>Thumbnail Gallery</h1>
          
                  {{ page.content | markdownify }}

          <hr />

          {% if site.author_blurb %}
          <div class="author row">
            <img class="col-xs-3 col-sm-2 col-md-1" src="{{site.baseurl}}{{site.author_blurb_image}}" alt="Me" />
            <p class="col-xs-9 col-sm-10 col-md-11">
              {{ site.author_blurb }}
            </p>
          </div>
          {% endif%}


    </section>

    {% include footer.html %}

    {% include js.html %}

  </body>
</html>

<!-- Gallery Layout End -->
