
<!-- Gallery Layout Start -->

<!DOCTYPE html>
<html lang="{{ site.lang }}">

  {% include head.html %}
  
  <body>

    {% include navigation.html %}

    <section id="post" class="container content-section text-center">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
                    
          <div>
          {% for image in page.image %}
            <img src="{{site.baseurl}}/img/{{ page.image }}"/>
          {% endfor%}
          </div>
          
                  {{ page.content | markdownify }}

          <hr />

          {% if site.author_blurb %}
          <div class="author row">
            <img class="col-xs-3 col-sm-2 col-md-1" src="{{site.baseurl}}{{site.author_blurb_image}}" alt="Me" />
            <p class="col-xs-9 col-sm-10 col-md-11">
              {{ site.author_blurb }}
            </p>
          </div>
          {% endif%}
        </div>
      </div>
    </section>

    {% include footer.html %}

    {% include js.html %}

  </body>
</html>

<!-- Gallery Layout End -->
